// .swiper-container {
//   width: 480px;
// }

// @media screen and (min-width: 640px) {
//   .swiper-container {
//     width: 640px;
//   }
// }

// @media screen and (min-width: 768px) {
//   .swiper-container {
//     width: 768px;
//   }
// }

.PopularCategory {
  width: 80%;
  margin: auto;

  &-Top {
    display: flex;
    justify-content: space-between;
    margin-top: 75px;
    &-Title {
      font-size: 35px;
      color: #095081;
      font-weight: bold;
      @media (min-width: 811px) and (max-width: 1000px) {
        font-size: 27px;
      }
      @media (max-width: 811px) {
        font-size: 20px;
        margin-top: 25px;
      }
      @media (max-width: 500px) {
        font-size: 18px;
      }
    }
    &-Img {
      margin-top: 30px;
      &:hover {
        cursor: pointer;
      }
      &-Left {
        margin-right: 17px;
        background-color: #ffff;
        border: none;
        &:hover {
          cursor: pointer;
        }
        @media (max-width: 500px) {
          height: 10px;
          width: 15px;
        }
      }
      &-Right {
        background-color: #ffff;
        border: none;
        &:hover {
          cursor: pointer;
        }
        @media (max-width: 500px) {
          height: 10px;
          width: 15px;
        }
      }
    }
  }
}
