.CardCategory {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 8px;
  margin: {
    top: 30px;
    left: 5px;
    right: 8px;
  }

  &-Card {
    &-Img {
      width: 100%;
      margin: {
        top: 40px;
        bottom: 40px;
      }
    }
    &-Name {
      font-size: 25px;
      font-weight: bold;
      background-color: #90cc8d;
      color: #f5f2ed;
      padding: {
        top: 30px;
        bottom: 30px;
      }
      @media (max-width: 1200px) {
        font-size: 20px;
      }
      margin-bottom: 0px;
      border-radius: 0px 0px 8px 8px;
      text-align: center;
    }
  }
}
