<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="index.css" />
    <title>POPULAR CATEGORY</title>
  </head>
  <body>
    <div class="PopularCategory">
      <div class="PopularCategory-Top">
        <h1 class="PopularCategory-Top-Title">Popular Category</h1>
        <div class="PopularCategory-Top-Img">
          <img
            class="PopularCategory-Top-Img-Left"
            src="Images/Left-arrow.svg"
            alt="Show"
          />
          <img
            class="PopularCategory-Top-Img-Right"
            src="Images/Right-arrow.svg"
            alt=""
          />
        </div>
      </div>
      <div class="PopularCategory-CardMain">
        <div class="PopularCategory-CardMain-Card">
          <img
            class="PopularCategory-CardMain-Card-Img"
            src="Images/download.jpeg"
            alt="Show"
          />
          <h1 class="PopularCategory-CardMain-Card-Name">Personal Care</h1>
        </div>
        <div class="PopularCategory-CardMain-Card">
          <img
            class="PopularCategory-CardMain-Card-Img"
            src="Images/download.jpeg"
            alt="Show"
          />
          <h1 class="PopularCategory-CardMain-Card-Name">Bady Care</h1>
        </div>
        <div class="PopularCategory-CardMain-Card">
          <img
            class="PopularCategory-CardMain-Card-Img"
            src="Images/download.jpeg"
            alt="Show"
          />
          <h1 class="PopularCategory-CardMain-Card-Name">Nutrition</h1>
        </div>
        <div class="PopularCategory-CardMain-Card">
          <img
            class="PopularCategory-CardMain-Card-Img"
            src="Images/download.jpeg"
            alt="Show"
          />
          <h1 class="PopularCategory-CardMain-Card-Name">Healthcare Devices</h1>
        </div>
      </div>
    </div>
  </body>
</html>
