@mixin mobile {
  @media (max-width: 810px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 811px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 811px) and (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
    @content;
  }
}

.HealthBlog {
  width: 80%;
  margin: auto;
  &-Top {
    display: flex;
    justify-content: space-between;
    &-LeftName {
      color: #095081;
      @include mobile {
        font-size: 17px;
        padding-top: 17px;
      }
    }

    &-RightContainer {
      display: flex;
      padding-top: 5px;
      @include mobile {
        padding-top: unset;
      }
      &-ViewAll {
        color: #095081;
        text-decoration: underline;
        @include mobile {
          padding-top: 3px;
          font-size: 17px;
        }
      }
      &-Arrow {
        padding-bottom: 20px;
        &-ArrowLeft {
          margin-right: 10px;
          @include mobile {
            width: 25px;
          }
        }
        &-ArrowRight {
          margin-right: 10px;
          @include mobile {
            width: 25px;
          }
        }
      }
    }
  }
}
