.CardMain {
  display: flex;
  justify-content: space-between;
  &-Card {
    width: 32%;
    background-color: #ffff;
    border-radius: 15px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    &-Img {
      width: 100%;
      border-radius: 15px 15px 0px 0px;
      height: 270px;
    }
    &-Titles {
      margin: 15px;

      &-Name {
        color: #90cc8d;
        font-size: 25px;
      }
      &-Price {
        color: #3d3c3c;
        font-size: 20px;
      }
      &-Button {
        background-color: #095081;
        color: #ffff;
        font-size: 15px;
        font-weight: bold;
        border: none;
        border-radius: 10px;
        padding: {
          top: 12px;
          right: 10px;
          bottom: 12px;
          left: 10px;
        }
      }
    }
  }
}
